/* line 1, scss/_compass-resets.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, scss/_compass-resets.scss */
html {
  line-height: 1;
}

/* line 26, scss/_compass-resets.scss */
ol, ul {
  list-style: none;
}

/* line 30, scss/_compass-resets.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 35, scss/_compass-resets.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 41, scss/_compass-resets.scss */
q, blockquote {
  quotes: none;
}

/* line 45, scss/_compass-resets.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 50, scss/_compass-resets.scss */
a img {
  border: none;
}

/* line 54, scss/_compass-resets.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, scss/_ALM-Votes-Dialog.scss */
body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 8, scss/_ALM-Votes-Dialog.scss */
.votesWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1a1d23;
  position: relative;
}

/* line 17, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDialog {
  color: #ffffff;
  border: 1px solid #262a33;
  background: #262a33;
  background-image: none;
  border-radius: 0px;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 460px !important;
  overflow: visible;
}

/* line 31, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDialog .ui-dialog-titlebar {
  color: #1976D2;
  border: 0px dotted #ffffff;
  border-bottom: 1px dotted #7f858c;
  background: #262a33;
  padding: .6em;
  position: relative;
  background: none;
  font-weight: 500;
  line-height: 30px;
  border-radius: 0px;
}

/* line 45, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDialog .ui-dialog-buttonpane.ui-widget-content {
  border: 1px solid #262a33;
  border-top: 1px solid #7f858c;
  background: #262a33;
  background-image: none;
}

/* line 60, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDataGrid.ui-widget {
  font-size: 1em;
}

/* line 78, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDataGrid .slick-cell input[type="checkbox"] {
  margin-left: 0;
  margin-top: 5px;
}

/* line 84, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDataGrid .ui-state-default.slick-header-column {
  color: #1976D2;
  border: 1px solid #1a1d23;
  border-left: 0px;
  background: #1a1d23;
  background-image: none;
  font-weight: 500;
  font-size: 11.52px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

/* line 95, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDataGrid .ui-state-default.slick-header-column:hover {
  color: #ffffff;
  border: 1px solid #7f858c;
  border-left: 0px;
  background: #7f858c;
  font-weight: 500;
  cursor: pointer;
}

/* line 105, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDataGrid .ui-state-default.slick-header-column:active {
  color: #ffffff;
  border: 1px solid #1976D2;
  border-left: 0px;
  background: #1976D2;
  font-weight: 500;
  cursor: pointer;
}

/* line 117, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDataGrid .ui-state-default {
  color: #1976D2;
  border: 1px solid #1a1d23;
  border-left: 0px;
  background: #1a1d23;
  background-image: none;
  font-weight: 500;
  cursor: pointer;
}

/* line 128, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDataGrid .slick-cell {
  color: #ffffff;
  border: 1px solid transparent;
  border-right: 1px solid #383e41;
  border-bottom: 1px solid #383e41;
  background-color: #24272b;
  line-height: 22px;
  position: absolute;
  font-size: 0.8em;
  z-index: 1;
  margin: 0;
  cursor: default;
  font-family: "Roboto", sans-serif;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}

/* line 157, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDataGrid .slick-cell .control-indicator {
  border: 1px solid #1976D2;
}

/* line 164, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDataGrid .slick-row:hover .slick-cell {
  color: #ffffff;
  border-color: 1px solid #7f858c;
  background-color: #7f858c;
}

/* line 169, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDataGrid .slick-row:hover .slick-cell a {
  color: #ffffff;
}

/* line 174, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDataGrid .slick-row:hover .slick-cell .control-indicator {
  border: 1px solid #ffffff;
}

/* line 181, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDataGrid .slick-row:active .slick-cell {
  color: #ffffff;
  border-color: 1px solid #1976D2;
  background-color: #1976D2;
}

/* line 186, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDataGrid .slick-row:active .slick-cell a {
  color: #ffffff;
}

/* line 203, scss/_ALM-Votes-Dialog.scss */
.votesWrapper .aceDataGrid .slick-cell.dataGridCheckboxColumn {
  padding-left: 5px;
}

/* line 213, scss/_ALM-Votes-Dialog.scss */
.votesHeader {
  height: 36px;
  min-height: 36px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1976D2;
  padding-left: 12px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

/* line 223, scss/_ALM-Votes-Dialog.scss */
.votesHeader .votesHeaderLabel {
  font-weight: 600;
  font-size: 1em;
  line-height: 36px;
  color: #ffffff;
  padding-left: 28px;
  background-image: url("../images/pngs/flag-icon-fff.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center left;
}

/* line 238, scss/_ALM-Votes-Dialog.scss */
.votesContentWrapper {
  width: 100%;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 8px;
  overflow: auto;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

/* line 251, scss/_ALM-Votes-Dialog.scss */
.votesBody {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 0;
}

/* line 261, scss/_ALM-Votes-Dialog.scss */
.votesTopSection {
  width: 100%;
  height: auto;
}

/* line 267, scss/_ALM-Votes-Dialog.scss */
.votesAccountWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 66px !important;
  margin-bottom: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 276, scss/_ALM-Votes-Dialog.scss */
.votesAccountName {
  height: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

/* line 282, scss/_ALM-Votes-Dialog.scss */
.votesAccountNameLabel {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 600;
}

/* line 290, scss/_ALM-Votes-Dialog.scss */
.votesAccountLogo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

/* line 294, scss/_ALM-Votes-Dialog.scss */
.votesAccountLogo img {
  height: 100% !important;
  max-height: 66px !important;
  width: auto !important;
}

/* line 304, scss/_ALM-Votes-Dialog.scss */
.votesRangeSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
}

/* line 318, scss/_ALM-Votes-Dialog.scss */
.voteControl {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 180px;
  min-width: 180px;
  margin-right: 10px;
  margin-bottom: 8px;
}

/* line 325, scss/_ALM-Votes-Dialog.scss */
.voteControl.quaterPicker {
  /* max-width: 90px; // - ST-2536: extended the div so the text can be on one line */ 
  min-width: 90px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/* line 330, scss/_ALM-Votes-Dialog.scss */
.voteControl.quaterPicker .menuButton {
  min-width: 50px;
  padding-right: 10px;
}

/* line 338, scss/_ALM-Votes-Dialog.scss */
.voteControl.votesTypePicker {
  max-width: 180px;
}

/* line 345, scss/_ALM-Votes-Dialog.scss */
.voteControlLabel {
  color: #ffffff;
  font-size: 0.75em;
  font-weight: 700;
  height: 23px;
}

/* line 353, scss/_ALM-Votes-Dialog.scss */
.votesTypePicker {
  position: relative;
}

/* line 358, scss/_ALM-Votes-Dialog.scss */
.votePickerValue {
  border-radius: 0px;
  color: #ffffff;
  border: 1px solid #262a33;
  border-bottom: 1px solid #999999;
  background-color: #262a33;
  background: url("../images/pngs/menuButtonArrow-999.png") no-repeat;
  background-position: center right;
  font-size: 0.8em !important;
  font-family: "Roboto", sans-serif !important;
  vertical-align: middle;
  text-align: left;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 18px;
  min-width: 100px;
  height: 26px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  line-height: 27px;
}

/* line 379, scss/_ALM-Votes-Dialog.scss */
.votePickerValue:hover {
  color: #1976D2;
  border: 1px solid #262a33;
  border-bottom: 1px solid #1976D2 !important;
  background-color: #262a33;
  background: url("../images/pngs/menuButtonArrow-1976D2.png") no-repeat;
  background-position: center right;
}

/* line 389, scss/_ALM-Votes-Dialog.scss */
.votePickerValue:focus {
  outline: none;
  color: #1976D2;
  border: 1px solid #262a33;
  border-bottom: 1px solid #1976D2 !important;
  background-color: #262a33;
  background: url("../images/pngs/menuButtonArrow-1976D2.png") no-repeat;
  background-position: center right;
}

/* line 401, scss/_ALM-Votes-Dialog.scss */
.votePickerValue:active {
  color: #1976D2;
  border: 1px solid #262a33;
  border-bottom: 1px solid #1976D2 !important;
  background-color: #262a33;
  background: url("../images/pngs/menuButtonArrow-white.png") no-repeat;
  background-position: center right;
}

/* line 413, scss/_ALM-Votes-Dialog.scss */
.votePickerContainer {
  position: absolute;
  background-color: #262a33;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  width: 180px;
  z-index: 20;
}

/* line 422, scss/_ALM-Votes-Dialog.scss */
.votePickerContainer .aceDataGrid .slick-cell.selected, .votePickerContainer .aceDataGrid .slick-row:hover .selected {
  color: #ffffff;
  border-color: 1px solid #1976D2;
  background-color: #1976D2;
}

/* line 433, scss/_ALM-Votes-Dialog.scss */
.votePickerButtonWrapper {
  text-align: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px;
  background-color: #f5f5f5;
  margin-right: 0;
}

/* line 440, scss/_ALM-Votes-Dialog.scss */
.votePickerButtonWrapper .cancelButton {
  padding: 1px 6px !important;
  border: 1px solid #f5f5f5 !important;
}

/* line 444, scss/_ALM-Votes-Dialog.scss */
.votePickerButtonWrapper .cancelButton:hover {
  border: 1px solid #797979 !important;
}

/* line 449, scss/_ALM-Votes-Dialog.scss */
.votePickerButtonWrapper .cancelButton:active {
  border: 1px solid #515151 !important;
}

/* line 460, scss/_ALM-Votes-Dialog.scss */
.votesDatepicker .voteControlLabel {
  color: #db4437;
}

/* line 465, scss/_ALM-Votes-Dialog.scss */
.votesDatepicker .hasDatepicker {
  border-bottom: 1px solid #db4437;
}

/* line 469, scss/_ALM-Votes-Dialog.scss */
.votesDatepicker .hasDatepicker:hover {
  border-bottom: 1px solid #db4437;
}

/* line 474, scss/_ALM-Votes-Dialog.scss */
.votesDatepicker .hasDatepicker:active, .votesDatepicker .hasDatepicker:focus {
  border-bottom: 2px solid #db4437;
}

/* line 484, scss/_ALM-Votes-Dialog.scss */
.votesSection {
  width: 100%;
  height: auto;
  background-color: #262a33;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
  margin-bottom: 10px;
}

/* line 494, scss/_ALM-Votes-Dialog.scss */
.votesSection .rowColumn {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* line 499, scss/_ALM-Votes-Dialog.scss */
.votesSection .headerColumn.spacerheaderColumn {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
  max-width: 40px;
}

/* line 505, scss/_ALM-Votes-Dialog.scss */
.votesSection .labelColumn {
  max-width: 60px;
}

/* line 513, scss/_ALM-Votes-Dialog.scss */
.votesSection .columnHeaderRow:first-of-type .columnHeaderLabel {
  color: #1976D2;
}

/* line 526, scss/_ALM-Votes-Dialog.scss */
.votesSectionHeader {
  width: 100%;
  height: auto;
  min-height: 20px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 537, scss/_ALM-Votes-Dialog.scss */
.votesSectionHeader .attachmentGridButtonWrapper .attachmentButton {
  border-radius: 3px;
  color: #1976D2;
  border: 1px solid #1976D2;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-size: .8em;
  background-image: none;
  padding: 0;
  font-weight: normal;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 22px;
  line-height: 16px;
  padding: 0 10px;
  opacity: 1;
  margin-right: 8px;
}

/* line 556, scss/_ALM-Votes-Dialog.scss */
.votesSectionHeader .attachmentGridButtonWrapper .attachmentButton:hover {
  color: #ffffff;
  border: 1px solid #1976D2 !important;
  background: #1976D2;
  opacity: .8;
}

/* line 564, scss/_ALM-Votes-Dialog.scss */
.votesSectionHeader .attachmentGridButtonWrapper .attachmentButton:active {
  color: #ffffff;
  border: 1px solid #1976D2 !important;
  background: #1976D2;
  opacity: 1;
}

/* line 572, scss/_ALM-Votes-Dialog.scss */
.votesSectionHeader .attachmentGridButtonWrapper .attachmentButton:focus {
  outline: none;
}

/* line 577, scss/_ALM-Votes-Dialog.scss */
.votesSectionHeader .attachmentGridButtonWrapper .attachmentButton[disabled] {
  opacity: .4;
}

/* line 584, scss/_ALM-Votes-Dialog.scss */
.votesSectionHeader .attachmentGridButtonWrapper .removeAttachmentButton {
  border-radius: 3px;
  color: #F24458;
  border: 1px solid #F24458;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-size: .8em;
  background-image: none;
  padding: 0;
  font-weight: normal;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 22px;
  line-height: 16px;
  padding: 0 10px;
  opacity: 1;
}

/* line 602, scss/_ALM-Votes-Dialog.scss */
.votesSectionHeader .attachmentGridButtonWrapper .removeAttachmentButton:hover {
  color: #ffffff;
  border: 1px solid #F24458;
  background: #F24458;
  opacity: .8;
}

/* line 610, scss/_ALM-Votes-Dialog.scss */
.votesSectionHeader .attachmentGridButtonWrapper .removeAttachmentButton:active {
  color: #ffffff;
  border: 1px solid #F24458;
  background: #F24458;
  opacity: 1;
}

/* line 618, scss/_ALM-Votes-Dialog.scss */
.votesSectionHeader .attachmentGridButtonWrapper .removeAttachmentButton:focus {
  outline: none;
}

/* line 623, scss/_ALM-Votes-Dialog.scss */
.votesSectionHeader .attachmentGridButtonWrapper .removeAttachmentButton[disabled] {
  opacity: .4;
}

/* line 634, scss/_ALM-Votes-Dialog.scss */
.votesSectionHeaderLabel {
  width: auto;
  line-height: 16px;
  font-size: 0.8em;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 644, scss/_ALM-Votes-Dialog.scss */
.votesSectionInnerWrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* line 653, scss/_ALM-Votes-Dialog.scss */
.accountVoteWrapper {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 610px;
  overflow-x: hidden;
}

/* line 661, scss/_ALM-Votes-Dialog.scss */
.accountVoteWrapper .rowInputWrapper {
  margin-right: 10px;
  height: 28px;
}

/* line 666, scss/_ALM-Votes-Dialog.scss */
.accountVoteWrapper .rowInputWrapper input {
  width: 100%;
  min-width: 0px;
}

/* line 671, scss/_ALM-Votes-Dialog.scss */
.accountVoteWrapper .rowInputWrapper .menuButton {
  width: 100%;
  min-width: 0px;
}

/* line 679, scss/_ALM-Votes-Dialog.scss */
.accountVoteWrapper .rowColumn:nth-of-type(2) {
  margin-left: 20px;
  margin-right: 20px;
}

/* line 685, scss/_ALM-Votes-Dialog.scss */
.accountVoteWrapper .rowColumn:nth-of-type(3) {
  margin-right: 20px;
}

/* line 692, scss/_ALM-Votes-Dialog.scss */
.accountVoteHeaderRow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 697, scss/_ALM-Votes-Dialog.scss */
.accountVoteHeaderRow .columnHeaderLabel {
  text-align: center;
}

/* line 705, scss/_ALM-Votes-Dialog.scss */
.headerColumn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #262a33;
  text-align: center;
}

/* line 713, scss/_ALM-Votes-Dialog.scss */
.headerColumn .columnHeaderRow {
  width: 100%;
  height: auto;
  min-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 719, scss/_ALM-Votes-Dialog.scss */
.headerColumn .columnHeaderRow .columnHeaderLabel {
  color: #ffffff;
  font-weight: 700;
}

/* line 727, scss/_ALM-Votes-Dialog.scss */
.headerColumn .columnHeaderLabel {
  line-height: 24px;
  font-size: 0.75em;
  color: #1976D2;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 737, scss/_ALM-Votes-Dialog.scss */
.accountVoteGridRow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 745, scss/_ALM-Votes-Dialog.scss */
.rowColumn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0px;
}

/* line 753, scss/_ALM-Votes-Dialog.scss */
.rowColumn .outOf {
  margin-top: 6px;
  color: #cccccc;
  margin-right: 2px;
  margin-left: 2px;
}

/* line 763, scss/_ALM-Votes-Dialog.scss */
.rowPickerWrapper {
  margin-right: 10px;
  min-width: 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 768, scss/_ALM-Votes-Dialog.scss */
.rowPickerWrapper .menuButton {
  height: 25px;
  width: 100%;
  min-width: 0px;
}

/* line 778, scss/_ALM-Votes-Dialog.scss */
.rowLabelWrapper, .rowInputWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 788, scss/_ALM-Votes-Dialog.scss */
.rowLabelWrapper input, .rowInputWrapper input {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 801, scss/_ALM-Votes-Dialog.scss */
.votesAttachmentGridWrapper {
  width: 100%;
  height: auto;
}

/* line 805, scss/_ALM-Votes-Dialog.scss */
.votesAttachmentGridWrapper .aceDataGrid {
  min-height: 50px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #383e41;
  margin-bottom: 6px;
}

/* line 816, scss/_ALM-Votes-Dialog.scss */
.votesAttachmentGridWrapper .aceDataGrid .slick-row.active .slick-cell.dataGridCheckboxColumn.selected input[type="checkbox"]:checked ~ .control-indicator {
  background-image: url("../images/pngs/checked-DT.png") !important;
  background-color: transparent;
}

/* line 827, scss/_ALM-Votes-Dialog.scss */
.votesAttachmentGridWrapper .aceDataGrid .slick-row.active:hover .slick-cell.dataGridCheckboxColumn.selected input[type="checkbox"]:checked ~ .control-indicator {
  background-image: url("../images/pngs/checked-DT.png") !important;
  background-color: #ffffff;
}

/* line 848, scss/_ALM-Votes-Dialog.scss */
.tabsWrapper la-menu[id=tabs-menu] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -2px;
}

/* line 852, scss/_ALM-Votes-Dialog.scss */
.tabsWrapper la-menu[id=tabs-menu] la-item {
  height: 40px;
  font-size: 0.9em !important;
  font-weight: normal;
  font-size: 1em;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #444444;
  padding: 15px 0px 0px 2px;
  cursor: pointer;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  margin-left: 16px;
  margin-right: 20px;
  line-height: 16px;
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
}

/* line 878, scss/_ALM-Votes-Dialog.scss */
.tabsWrapper la-menu[id=tabs-menu] la-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 2px;
  background: #E59030;
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 895, scss/_ALM-Votes-Dialog.scss */
.tabsWrapper la-menu[id=tabs-menu] la-item:first-of-type {
  margin-left: 0px;
}

/* line 901, scss/_ALM-Votes-Dialog.scss */
.tabsWrapper la-menu[id=tabs-menu] la-item:hover:before, .tabsWrapper la-menu[id=tabs-menu] la-item:focus:before, .tabsWrapper la-menu[id=tabs-menu] la-item:active:before, .tabsWrapper la-menu[id=tabs-menu] la-item.la-selected:before {
  right: 0;
}

/* line 906, scss/_ALM-Votes-Dialog.scss */
.tabsWrapper la-menu[id=tabs-menu] la-item:hover {
  color: #444444;
  background-color: transparent;
}

/* line 912, scss/_ALM-Votes-Dialog.scss */
.tabsWrapper la-menu[id=tabs-menu] la-item:active {
  color: #444444;
}

/* line 917, scss/_ALM-Votes-Dialog.scss */
.tabsWrapper la-menu[id=tabs-menu] la-item.la-selected {
  font-weight: 700;
  color: #444444;
  background-color: transparent !important;
  border-bottom: none !important;
}

/* line 928, scss/_ALM-Votes-Dialog.scss */
.tabsWrapper la-menu[id=tabs-menu] [id="tab-tag"] {
  padding: 0px !important;
}

/* line 935, scss/_ALM-Votes-Dialog.scss */
.tabsWrapper .latabs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  background-color: #262a33 !important;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 10;
}

/* line 945, scss/_ALM-Votes-Dialog.scss */
.tabsWrapper la-tabs la-pages#tabs-bodies {
  overflow: visible;
}

/* line 952, scss/_ALM-Votes-Dialog.scss */
la-pages > .la-selected {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  background-color: #262a33;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  position: relative;
}

/* line 961, scss/_ALM-Votes-Dialog.scss */
.approvalTabPageRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* line 965, scss/_ALM-Votes-Dialog.scss */
.approvalTabPageRow:first-of-type {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 10px;
  border-bottom: 1px dotted #FF9800;
  margin-bottom: 10px;
}

/* line 971, scss/_ALM-Votes-Dialog.scss */
.approvalTabPageRow:first-of-type .tabRowSection {
  max-width: 33.33%;
}

/* line 976, scss/_ALM-Votes-Dialog.scss */
.approvalTabPageRow:first-of-type .headerColumn {
  text-align: initial;
  margin-left: 9px;
}

/* line 984, scss/_ALM-Votes-Dialog.scss */
.approvalTabPageRow .accountVoteGridRowLabel {
  font-size: 0.7rem;
}

/* line 993, scss/_ALM-Votes-Dialog.scss */
.approvalTabPageRow:nth-of-type(2) .spacerheaderColumn {
  margin-right: 100px;
}

/* line 998, scss/_ALM-Votes-Dialog.scss */
.approvalTabPageRow:nth-of-type(2) .headerColumn:last-of-type {
  margin-right: 37px;
}

/* line 1003, scss/_ALM-Votes-Dialog.scss */
.approvalTabPageRow:nth-of-type(2) .rowColumn.labelColumn {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

/* line 1010, scss/_ALM-Votes-Dialog.scss */
.approvalTabPageRow:nth-of-type(2) .rowColumn:last-of-type .rowInputWrapper {
  max-width: 60px;
}

/* line 1019, scss/_ALM-Votes-Dialog.scss */
.tabRowSection {
  height: auto;
  width: 50%;
  margin-bottom: 10px;
}

/* line 1026, scss/_ALM-Votes-Dialog.scss */
.tabRowSection.tabRowSectionText {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  max-width: auto;
  max-width: 66.66% !important;
}

/* line 1031, scss/_ALM-Votes-Dialog.scss */
.tabRowSection.tabRowSectionText .tabSectionInnerWrapper {
  padding-bottom: 24px;
}

@media (max-width: 863px) {
  /* line 1042, scss/_ALM-Votes-Dialog.scss */
  .tabRowSection {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}

/* line 1051, scss/_ALM-Votes-Dialog.scss */
.tabSectionHeader {
  width: 100%;
  height: auto;
  min-height: 18px;
}

/* line 1060, scss/_ALM-Votes-Dialog.scss */
.tabSectionHeaderLabel {
  width: auto;
  line-height: 16px;
  font-size: 0.8em;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 6px;
}

/* line 1071, scss/_ALM-Votes-Dialog.scss */
.tabSectionInnerWrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px;
}

/* line 1078, scss/_ALM-Votes-Dialog.scss */
.tabSectionInnerWrapper la-textarea {
  height: 100%;
}

/* line 1081, scss/_ALM-Votes-Dialog.scss */
.tabSectionInnerWrapper la-textarea textarea {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 1100, scss/_ALM-Votes-Dialog.scss */
.tabSectionGrid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  border: 1px solid #383e41;
  overflow: hidden;
}

/* line 1111, scss/_ALM-Votes-Dialog.scss */
.tabSectionHeaderRow {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eee;
  position: -webkit-sticky;
  position: sticky;
}

/* line 1122, scss/_ALM-Votes-Dialog.scss */
.headerColumn.spacerheaderColumn {
  width: 165px;
  margin-right: 25px;
}

/* line 1130, scss/_ALM-Votes-Dialog.scss */
.gridBodyContainer {
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 1135, scss/_ALM-Votes-Dialog.scss */
.gridBodyContainer .tabSectionGridRow {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 1140, scss/_ALM-Votes-Dialog.scss */
.gridBodyContainer .tabSectionGridRow:nth-child(even) {
  background-color: #f5f5f5;
}

/* line 1145, scss/_ALM-Votes-Dialog.scss */
.gridBodyContainer .tabSectionGridRow .rowColumn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;
}

/* line 1151, scss/_ALM-Votes-Dialog.scss */
.gridBodyContainer .tabSectionGridRow .rowColumn.labelColumn {
  width: 270px;
  margin-left: 8px;
}

/* line 1157, scss/_ALM-Votes-Dialog.scss */
.gridBodyContainer .tabSectionGridRow .rowColumn input {
  width: 100%;
  font-size: 0.7rem !important;
  text-align: center;
  text-indent: 2px;
  background-color: transparent;
}

/* line 1164, scss/_ALM-Votes-Dialog.scss */
.gridBodyContainer .tabSectionGridRow .rowColumn input:focus {
  background-color: transparent !important;
}

/* line 1173, scss/_ALM-Votes-Dialog.scss */
.gridBodyContainer .tabSectionGridRow .rowInputWrapper {
  min-width: 0;
  max-width: 30px;
  margin-right: 8px;
  height: 28px;
}

/* line 1179, scss/_ALM-Votes-Dialog.scss */
.gridBodyContainer .tabSectionGridRow .rowInputWrapper .menuButtonContainer {
  width: 100%;
  min-width: 0px;
}

/* line 1186, scss/_ALM-Votes-Dialog.scss */
.gridBodyContainer .tabSectionGridRow .rowInputWrapper:first-of-type {
  margin-right: 3px;
}

/* line 1197, scss/_ALM-Votes-Dialog.scss */
.accountVoteGridRowLabel {
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 700;
}

/* line 1208, scss/_ALM-Votes-Dialog.scss */
.votesFooter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 56px;
  background-color: #F7F7F7;
  position: relative;
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  -webkit-box-shadow: 0px -1px 6px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px -1px 6px -1px rgba(0, 0, 0, 0.4);
}

/* line 1223, scss/_ALM-Votes-Dialog.scss */
.votesFooter .footerButtonWrapper {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 1227, scss/_ALM-Votes-Dialog.scss */
.votesFooter .footerButtonWrapper .cancelButton {
  border: 1px solid #f7f7f7 !important;
  padding: 1px 6px !important;
}

/* line 64, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .votesDateControl input, .votesWrapper .votePickerValue, .votesWrapper .menuButton, .votesWrapper .rowInputWrapper input, .votes-right-column .vote-table-cell select, .votes-right-column input, input.vote-input[type="text"], .votes-textarea textarea, .votes-notes-text,
.votes-contacts-list, .update-team-info-dialog textarea.vote-notes, .update-team-info-dialog .search-wrapper input, .update-team-info-dialog .aceDataGrid .menuButtonColumn .button-drop-down, .update-team-info-dialog .aceDataGrid .menuButtonColumn .menuButton, .update-team-info-dialog .aceDataGrid .slick-row:hover .button-drop-down, .update-team-info-dialog .aceDataGrid .slick-row:hover .menuButton, .update-team-info-dialog .aceDataGrid .slick-row:active .button-drop-down, .update-team-info-dialog .aceDataGrid .slick-row:active .menuButton, .update-team-info-dialog .aceDataGrid .slick-cell.selected .button-drop-down, .update-team-info-dialog .aceDataGrid .slick-cell.selected .menuButton {
  color: #484848;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8rem !important;
  height: 24px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 74, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .votesDateControl input:placeholder, .votesWrapper .votePickerValue:placeholder, .votesWrapper .menuButton:placeholder, .votesWrapper .rowInputWrapper input:placeholder, .votes-right-column .vote-table-cell select:placeholder, .votes-right-column input:placeholder, input.vote-input:placeholder[type="text"], .votes-textarea textarea:placeholder, .votes-notes-text:placeholder,
.votes-contacts-list:placeholder, .update-team-info-dialog textarea.vote-notes:placeholder, .update-team-info-dialog .search-wrapper input:placeholder, .update-team-info-dialog .aceDataGrid .menuButtonColumn .button-drop-down:placeholder, .update-team-info-dialog .aceDataGrid .menuButtonColumn .menuButton:placeholder, .update-team-info-dialog .aceDataGrid .slick-row:hover .button-drop-down:placeholder, .update-team-info-dialog .aceDataGrid .slick-row:hover .menuButton:placeholder, .update-team-info-dialog .aceDataGrid .slick-row:active .button-drop-down:placeholder, .update-team-info-dialog .aceDataGrid .slick-row:active .menuButton:placeholder, .update-team-info-dialog .aceDataGrid .slick-cell.selected .button-drop-down:placeholder, .update-team-info-dialog .aceDataGrid .slick-cell.selected .menuButton:placeholder {
  font-style: italic;
  color: #999;
}

/* line 79, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .votesDateControl input:-ms-input-placeholder, .votesWrapper .votePickerValue:-ms-input-placeholder, .votesWrapper .menuButton:-ms-input-placeholder, .votesWrapper .rowInputWrapper input:-ms-input-placeholder, .votes-right-column .vote-table-cell select:-ms-input-placeholder, .votes-right-column input:-ms-input-placeholder, input.vote-input:-ms-input-placeholder[type="text"], .votes-textarea textarea:-ms-input-placeholder, .votes-notes-text:-ms-input-placeholder,
.votes-contacts-list:-ms-input-placeholder, .update-team-info-dialog textarea.vote-notes:-ms-input-placeholder, .update-team-info-dialog .search-wrapper input:-ms-input-placeholder, .update-team-info-dialog .aceDataGrid .menuButtonColumn .button-drop-down:-ms-input-placeholder, .update-team-info-dialog .aceDataGrid .menuButtonColumn .menuButton:-ms-input-placeholder, .update-team-info-dialog .aceDataGrid .slick-row:hover .button-drop-down:-ms-input-placeholder, .update-team-info-dialog .aceDataGrid .slick-row:hover .menuButton:-ms-input-placeholder, .update-team-info-dialog .aceDataGrid .slick-row:active .button-drop-down:-ms-input-placeholder, .update-team-info-dialog .aceDataGrid .slick-row:active .menuButton:-ms-input-placeholder, .update-team-info-dialog .aceDataGrid .slick-cell.selected .button-drop-down:-ms-input-placeholder, .update-team-info-dialog .aceDataGrid .slick-cell.selected .menuButton:-ms-input-placeholder {
  font-style: italic;
  color: #999;
}

/* line 744, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.fw-m-bold {
  font-weight: 500;
}

/* line 749, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.fw-b {
  font-weight: 700;
}

/* line 31, scss/ps/RBC-Voting.scss */
.el-item-wrapper {
  margin: 0 4px 0 4px;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 100%;
}

/* line 39, scss/ps/RBC-Voting.scss */
.el-item-wrapper:first-of-type {
  margin: 0 4px 0 0;
}

/* line 44, scss/ps/RBC-Voting.scss */
.el-item-wrapper:last-of-type {
  margin: 0 0 0 4px;
}

/* line 50, scss/ps/RBC-Voting.scss */
.el-item-wrapper:only-child {
  margin: 0 0 0 0;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

/* line 59, scss/ps/RBC-Voting.scss */
.el-item-wrapper.el-item-hidden-label {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/* line 66, scss/ps/RBC-Voting.scss */
.el-btn-wrapper {
  margin-bottom: 16px;
}

/* line 69, scss/ps/RBC-Voting.scss */
.el-btn-wrapper.el-invalid {
  margin-bottom: 0;
}

/* line 76, scss/ps/RBC-Voting.scss */
.el-item-label {
  width: 100%;
  margin-bottom: 4px;
  color: #484848;
  font-size: 0.8rem;
  font-weight: 500;
  display: block;
}

/* line 87, scss/ps/RBC-Voting.scss */
.el-warningMessage {
  width: inherit;
  color: #e53935;
  font-size: 0.7rem;
  font-weight: 500;
  margin: 4px 0 8px 0;
}

/* line 96, scss/ps/RBC-Voting.scss */
.el-columns {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  min-height: 0;
}

/* line 107, scss/ps/RBC-Voting.scss */
.el-column {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin: 0 4px 0 4px;
}

/* line 119, scss/ps/RBC-Voting.scss */
.el-column:first-of-type {
  margin: 0 4px 0 0;
}

/* line 124, scss/ps/RBC-Voting.scss */
.el-column:last-of-type {
  margin: 0 0 0 4px;
}

/* line 129, scss/ps/RBC-Voting.scss */
.el-column:only-child {
  margin: 0;
}

/* line 140, scss/ps/RBC-Voting.scss */
.el-block {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
}

/* line 150, scss/ps/RBC-Voting.scss */
.el-row {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* line 157, scss/ps/RBC-Voting.scss */
.el-info-text {
  font-size: 0.8rem;
  color: #484848;
  margin-bottom: 8px;
}

/* line 164, scss/ps/RBC-Voting.scss */
.flex-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 167, scss/ps/RBC-Voting.scss */
.flex-parent.is-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 172, scss/ps/RBC-Voting.scss */
.flex-parent.is-centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 177, scss/ps/RBC-Voting.scss */
.flex-parent.is-centered--v {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 182, scss/ps/RBC-Voting.scss */
.flex-parent.is-spaced {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 193, scss/ps/RBC-Voting.scss */
.is-auto {
  width: auto;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

/* line 199, scss/ps/RBC-Voting.scss */
.is-full {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

/* line 205, scss/ps/RBC-Voting.scss */
.is-half {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

/* line 211, scss/ps/RBC-Voting.scss */
.is-third {
  width: 33.3%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

/* line 217, scss/ps/RBC-Voting.scss */
.is-quarter {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

/* line 222, scss/ps/RBC-Voting.scss */
.is-three-quarters {
  width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

/* line 228, scss/ps/RBC-Voting.scss */
.is-right {
  margin-left: auto;
}

/* line 233, scss/ps/RBC-Voting.scss */
.is-wrapped {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* line 238, scss/ps/RBC-Voting.scss */
.is-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* line 243, scss/ps/RBC-Voting.scss */
.is-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 252, scss/ps/RBC-Voting.scss */
.votesWrapper .votesDateControl input {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: url("../images/png/icon-calendar--default.png") no-repeat center left 4px;
  padding: 2px 16px 2px 24px;
  text-indent: 0px !important;
}

/* line 101, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .votesDateControl input:hover {
  border: 1px solid #8DA7C5;
  background: url("../images/png/icon-calendar--hover.png") no-repeat center left 4px;
  background-color: #fff;
}

/* line 114, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .votesDateControl input:focus, .votesWrapper .votesDateControl input:active {
  border: 1px solid #2776bd;
  background: url("../images/png/icon-calendar--focus.png") no-repeat center left 4px;
  background-color: #fff;
}

/* line 125, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .votesDateControl input[disabled] {
  border: 1px solid #D8D8D8;
  color: #999 !important;
  background: url("../images/png/icon-calendar--disabled.png") no-repeat center left 4px;
}

/* line 134, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .votesDateControl input[disabled]::-webkit-input-placeholder {
  color: #999 !important;
}
.votesWrapper .votesDateControl input[disabled]:-ms-input-placeholder {
  color: #999 !important;
}
.votesWrapper .votesDateControl input[disabled]::-ms-input-placeholder {
  color: #999 !important;
}
.votesWrapper .votesDateControl input[disabled]::placeholder {
  color: #999 !important;
}

/* line 141, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .votesDateControl input[required], .votesWrapper .votesDateControl input.requiredField, .votesWrapper .votesDateControl input.requiredField.error {
  border-left: 4px solid #d0021b;
}

/* line 146, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .votesDateControl input.error {
  border: 2px solid #d0021b;
}

/* line 152, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .votesDateControl input::-ms-clear {
  display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 252, scss/ps/RBC-Voting.scss */
  .votesWrapper .votesDateControl input {
    /* IE10+ CSS styles go here */
    line-height: 0;
  }
}

/* line 258, scss/ps/RBC-Voting.scss */
.votesWrapper .votePickerValue {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: url("../images/png/icon-arrow_down--default.png");
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-color: #fff;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-left: 8px;
  text-align: left;
  cursor: pointer;
  line-height: 0;
  line-height: 1.6;
}

/* line 186, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .votePickerValue:hover {
  border: 1px solid #8DA7C5;
  background-image: url("../images/png/icon-arrow_down--hover.png");
}

/* line 191, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .votePickerValue:focus, .votesWrapper .votePickerValue:active {
  border: 1px solid #2776bd;
  background-image: url("../images/png/icon-arrow_down--focus.png");
}

/* line 196, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .votePickerValue[disabled], .votesWrapper .votePickerValue.disabled {
  border: 1px solid #D8D8D8;
  color: #999;
  background-image: url("../images/png/icon-arrow_down--disabled.png");
  cursor: auto;
}

/* line 204, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .votePickerValue[required], .votesWrapper .votePickerValue.requiredField, .votesWrapper .votePickerValue.requiredField, .votesWrapper .votePickerValue.required {
  border-left: 4px solid #d0021b;
}

/* line 209, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .votePickerValue.error {
  border: 2px solid #d0021b;
}

/* line 264, scss/ps/RBC-Voting.scss */
.votesWrapper .menuButton {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: url("../images/png/icon-arrow_down--default.png");
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-color: #fff;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-left: 8px;
  text-align: left;
  cursor: pointer;
  line-height: 0;
}

/* line 186, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .menuButton:hover {
  border: 1px solid #8DA7C5;
  background-image: url("../images/png/icon-arrow_down--hover.png");
}

/* line 191, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .menuButton:focus, .votesWrapper .menuButton:active {
  border: 1px solid #2776bd;
  background-image: url("../images/png/icon-arrow_down--focus.png");
}

/* line 196, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .menuButton[disabled], .votesWrapper .menuButton.disabled {
  border: 1px solid #D8D8D8;
  color: #999;
  background-image: url("../images/png/icon-arrow_down--disabled.png");
  cursor: auto;
}

/* line 204, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .menuButton[required], .votesWrapper .menuButton.requiredField, .votesWrapper .menuButton.requiredField, .votesWrapper .menuButton.required {
  border-left: 4px solid #d0021b;
}

/* line 209, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .menuButton.error {
  border: 2px solid #d0021b;
}

/* line 269, scss/ps/RBC-Voting.scss */
.votesWrapper .rowInputWrapper input {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #fff no-repeat center left 4px;
  padding: 2px 16px 2px 8px;
  padding: 0;
}

/* line 101, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .rowInputWrapper input:hover {
  border: 1px solid #8DA7C5;
  background: no-repeat center left 4px;
  background-color: #fff;
}

/* line 114, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .rowInputWrapper input:focus, .votesWrapper .rowInputWrapper input:active {
  border: 1px solid #2776bd;
  background: no-repeat center left 4px;
  background-color: #fff;
}

/* line 125, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .rowInputWrapper input[disabled] {
  border: 1px solid #D8D8D8;
  color: #999 !important;
  background: no-repeat center left 4px;
}

/* line 134, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .rowInputWrapper input[disabled]::-webkit-input-placeholder {
  color: #999 !important;
}
.votesWrapper .rowInputWrapper input[disabled]:-ms-input-placeholder {
  color: #999 !important;
}
.votesWrapper .rowInputWrapper input[disabled]::-ms-input-placeholder {
  color: #999 !important;
}
.votesWrapper .rowInputWrapper input[disabled]::placeholder {
  color: #999 !important;
}

/* line 141, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .rowInputWrapper input[required], .votesWrapper .rowInputWrapper input.requiredField, .votesWrapper .rowInputWrapper input.requiredField.error {
  border-left: 4px solid #d0021b;
}

/* line 146, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .rowInputWrapper input.error {
  border: 2px solid #d0021b;
}

/* line 152, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votesWrapper .rowInputWrapper input::-ms-clear {
  display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 269, scss/ps/RBC-Voting.scss */
  .votesWrapper .rowInputWrapper input {
    /* IE10+ CSS styles go here */
    line-height: 0;
  }
}

/* line 274, scss/ps/RBC-Voting.scss */
.votesWrapper .rowInputWrapper input:focus {
  border: 1px solid #2776bd !important;
}

/* line 285, scss/ps/RBC-Voting.scss */
.votes-left-column {
  padding: 16px;
  border-right: 1px solid #d8d8d8;
}

/* line 289, scss/ps/RBC-Voting.scss */
.votes-left-column .vote-header-column:not(:first-child) {
  text-align: center;
}

/* line 294, scss/ps/RBC-Voting.scss */
.votes-right-column {
  padding: 16px;
}

/* line 297, scss/ps/RBC-Voting.scss */
.votes-right-column .vote-table-cell {
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* line 302, scss/ps/RBC-Voting.scss */
.votes-right-column .vote-table-cell select {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: url("../images/png/icon-arrow_down--default.png");
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-color: #fff;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-left: 8px;
  text-align: left;
  cursor: pointer;
  line-height: 0;
}

/* line 186, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-right-column .vote-table-cell select:hover {
  border: 1px solid #8DA7C5;
  background-image: url("../images/png/icon-arrow_down--hover.png");
}

/* line 191, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-right-column .vote-table-cell select:focus, .votes-right-column .vote-table-cell select:active {
  border: 1px solid #2776bd;
  background-image: url("../images/png/icon-arrow_down--focus.png");
}

/* line 196, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-right-column .vote-table-cell select[disabled], .votes-right-column .vote-table-cell select.disabled {
  border: 1px solid #D8D8D8;
  color: #999;
  background-image: url("../images/png/icon-arrow_down--disabled.png");
  cursor: auto;
}

/* line 204, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-right-column .vote-table-cell select[required], .votes-right-column .vote-table-cell select.requiredField, .votes-right-column .vote-table-cell select.requiredField, .votes-right-column .vote-table-cell select.required {
  border-left: 4px solid #d0021b;
}

/* line 209, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-right-column .vote-table-cell select.error {
  border: 2px solid #d0021b;
}

/* line 307, scss/ps/RBC-Voting.scss */
.votes-right-column input {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #fff no-repeat center left 4px;
  padding: 2px 16px 2px 8px;
  /* padding: 0 !important; */
}

/* line 101, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-right-column input:hover {
  border: 1px solid #8DA7C5;
  background: no-repeat center left 4px;
  background-color: #fff;
}

/* line 114, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-right-column input:focus, .votes-right-column input:active {
  border: 1px solid #2776bd;
  background: no-repeat center left 4px;
  background-color: #fff;
}

/* line 125, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-right-column input[disabled] {
  border: 1px solid #D8D8D8;
  color: #999 !important;
  background: no-repeat center left 4px;
}

/* line 134, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-right-column input[disabled]::-webkit-input-placeholder {
  color: #999 !important;
}
.votes-right-column input[disabled]:-ms-input-placeholder {
  color: #999 !important;
}
.votes-right-column input[disabled]::-ms-input-placeholder {
  color: #999 !important;
}
.votes-right-column input[disabled]::placeholder {
  color: #999 !important;
}

/* line 141, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-right-column input[required], .votes-right-column input.requiredField, .votes-right-column input.requiredField.error {
  border-left: 4px solid #d0021b;
}

/* line 146, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-right-column input.error {
  border: 2px solid #d0021b;
}

/* line 152, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-right-column input::-ms-clear {
  display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 307, scss/ps/RBC-Voting.scss */
  .votes-right-column input {
    /* IE10+ CSS styles go here */
    line-height: 0;
  }
}

/* line 311, scss/ps/RBC-Voting.scss */
.votes-right-column input:focus {
  border: 1px solid #2776bd !important;
}

/* line 317, scss/ps/RBC-Voting.scss */
.region-wrapper {
  margin-bottom: 8px;
}

/* line 322, scss/ps/RBC-Voting.scss */
.vote-table-cell {
  /* flex: 1; */
  display: table-cell;
  max-width: 100px;
  min-width: 100px;
  border-right: 1px solid #b7bfc8;
  font-size: 0.8125rem;
  padding-left: 8px;
  height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 333, scss/ps/RBC-Voting.scss */
.vote-table-cell .slash-separator {
  display: inline-block;
}

/* line 338, scss/ps/RBC-Voting.scss */
.vote-table-cell .rowInputWrapper {
  height: 21px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 342, scss/ps/RBC-Voting.scss */
.vote-table-cell .rowInputWrapper input {
  width: 30px;
  height: 18px;
}

/* line 353, scss/ps/RBC-Voting.scss */
input[type="text"].vote-input {
  max-width: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #fff no-repeat center left 4px;
  padding: 2px 16px 2px 8px;
  padding: 0 !important;
  height: 20px;
}

/* line 101, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
input[type="text"].vote-input:hover {
  border: 1px solid #8DA7C5;
  background: no-repeat center left 4px;
  background-color: #fff;
}

/* line 114, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
input[type="text"].vote-input:focus, input[type="text"].vote-input:active {
  border: 1px solid #2776bd;
  background: no-repeat center left 4px;
  background-color: #fff;
}

/* line 125, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
input[type="text"].vote-input[disabled] {
  border: 1px solid #D8D8D8;
  color: #999 !important;
  background: no-repeat center left 4px;
}

/* line 134, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
input[type="text"].vote-input[disabled]::-webkit-input-placeholder {
  color: #999 !important;
}
input[type="text"].vote-input[disabled]:-ms-input-placeholder {
  color: #999 !important;
}
input[type="text"].vote-input[disabled]::-ms-input-placeholder {
  color: #999 !important;
}
input[type="text"].vote-input[disabled]::placeholder {
  color: #999 !important;
}

/* line 141, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
input[type="text"].vote-input[required], input[type="text"].vote-input.requiredField, input[type="text"].vote-input.requiredField.error {
  border-left: 4px solid #d0021b;
}

/* line 146, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
input[type="text"].vote-input.error {
  border: 2px solid #d0021b;
}

/* line 152, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
input[type="text"].vote-input::-ms-clear {
  display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 353, scss/ps/RBC-Voting.scss */
  input[type="text"].vote-input {
    /* IE10+ CSS styles go here */
    line-height: 0;
  }
}

/* line 359, scss/ps/RBC-Voting.scss */
input[type="text"].vote-input:focus {
  border: 1px solid #2776bd !important;
}

/* line 365, scss/ps/RBC-Voting.scss */
.votes-label {
  font-size: 0.8125rem;
  font-weight: 500;
  margin-bottom: 4px;
}

/* line 372, scss/ps/RBC-Voting.scss */
.vote-table-row.vote-header-row {
  display: table-row;
}

/* line 376, scss/ps/RBC-Voting.scss */
.vote-table-cell.vote-header-column {
  text-transform: uppercase;
  background-color: #e2e2e2;
  font-weight: 500;
}

/* line 382, scss/ps/RBC-Voting.scss */
.vote-table-row.vote-data-row {
  display: table-row;
}

/* line 386, scss/ps/RBC-Voting.scss */
.vote-table {
  display: table;
  border-collapse: collapse;
  border: 1px solid #b7bfc8;
  margin-top: 8px;
  margin-bottom: 16px;
}

/* line 393, scss/ps/RBC-Voting.scss */
.vote-table select {
  background-image: none !important;
}

/* line 399, scss/ps/RBC-Voting.scss */
.vote-table-cell:last-of-type {
  border-right: none;
}

/* line 403, scss/ps/RBC-Voting.scss */
.vote-table-row .vote-table-cell {
  border-bottom: 1px solid #b7bfc8;
}

/* line 407, scss/ps/RBC-Voting.scss */
.vote-table-row:last-of-type .vote-table-cell {
  border-bottom: none;
}

/* line 413, scss/ps/RBC-Voting.scss */
.votes-textarea textarea {
  min-height: 90px;
  padding: 4px 8px 4px 8px;
  resize: none;
  height: 190px;
}

/* line 349, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-textarea textarea:hover {
  border: 1px solid #8DA7C5;
}

/* line 354, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-textarea textarea:focus, .votes-textarea textarea:active {
  border: 1px solid #2776bd;
}

/* line 360, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-textarea textarea[disabled] {
  border: 1px solid #D8D8D8;
  color: #999 !important;
  background: #fff !important;
}

/* line 367, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-textarea textarea[required], .votes-textarea textarea.requiredField, .votes-textarea textarea.requiredField.error {
  border-left: 4px solid #d0021b;
}

/* line 374, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-textarea textarea.error {
  border: 2px solid #d0021b;
}

/* line 526, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-textarea textarea::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* line 527, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-textarea textarea::-webkit-scrollbar-button {
  background-color: #ffffff;
  width: 10px;
}

/* line 528, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-textarea textarea::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* line 529, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-textarea textarea::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

/* line 530, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-textarea textarea::-webkit-scrollbar-thumb {
  width: 6px;
  height: 20px;
  background-color: #ccc;
  border-radius: 3px;
}

/* line 532, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-textarea textarea::-webkit-scrollbar-thumb:active {
  background-color: #ccc;
}

/* line 533, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-textarea textarea::-webkit-scrollbar-corner {
  background-color: #ffffff;
}

/* line 534, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-textarea textarea::-webkit-resizer {
  background-color: #ffffff;
}

/* line 419, scss/ps/RBC-Voting.scss */
.votes-textarea textarea:hover {
  color: #484848;
}

/* line 425, scss/ps/RBC-Voting.scss */
.votes-textarea .la-input-underline {
  display: none;
}

/* line 432, scss/ps/RBC-Voting.scss */
.vote-input {
  padding: 0;
}

/* line 436, scss/ps/RBC-Voting.scss */
.votes-info-text {
  font-size: 0.8rem;
  margin-bottom: 16px;
}

/* line 441, scss/ps/RBC-Voting.scss */
.region-container {
  margin-right: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 445, scss/ps/RBC-Voting.scss */
.region-container label {
  font-size: 0.8rem;
  margin-right: 8px;
}

/* line 453, scss/ps/RBC-Voting.scss */
.votes-button-container {
  border: 1px solid #b7bfc8;
  border-radius: 4px;
  height: 24px;
}

/* line 458, scss/ps/RBC-Voting.scss */
.votes-button-container la-ripple {
  display: none;
}

/* line 463, scss/ps/RBC-Voting.scss */
.votes-btn-teams,
.votes-btn-individuals {
  border: none;
  background: none;
  cursor: pointer;
}

/* line 469, scss/ps/RBC-Voting.scss */
.votes-btn-teams:hover,
.votes-btn-individuals:hover {
  background-color: #e2e2e2;
}

/* line 476, scss/ps/RBC-Voting.scss */
.votes-btn-teams.selected,
.votes-btn-individuals.selected {
  background-color: #b7bfc8;
  color: #484848;
  font-weight: 600;
}

/* line 483, scss/ps/RBC-Voting.scss */
.votes-btn-teams {
  border-right: 1px solid #b7bfc8;
}

/* line 487, scss/ps/RBC-Voting.scss */
.votes-note-column:not(.vote-header-column),
.votes-account-contact-column:not(.vote-header-column) {
  text-align: center;
}

/* line 493, scss/ps/RBC-Voting.scss */
.vote-notes-add {
  background-image: url(../images/png/icon-plus-btn--default.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  font-size: 0;
  display: inline-block;
  cursor: pointer;
}

/* line 504, scss/ps/RBC-Voting.scss */
.votes-notes-text,
.votes-contacts-list {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #fff no-repeat center left 4px;
  padding: 2px 16px 2px 8px;
  padding: 0 !important;
  cursor: pointer;
  line-height: 24px;
  text-align: left;
  text-indent: 5px;
}

/* line 101, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-notes-text:hover,
.votes-contacts-list:hover {
  border: 1px solid #8DA7C5;
  background: no-repeat center left 4px;
  background-color: #fff;
}

/* line 114, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-notes-text:focus, .votes-notes-text:active,
.votes-contacts-list:focus,
.votes-contacts-list:active {
  border: 1px solid #2776bd;
  background: no-repeat center left 4px;
  background-color: #fff;
}

/* line 125, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-notes-text[disabled],
.votes-contacts-list[disabled] {
  border: 1px solid #D8D8D8;
  color: #999 !important;
  background: no-repeat center left 4px;
}

/* line 134, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-notes-text[disabled]::-webkit-input-placeholder,
.votes-contacts-list[disabled]::-webkit-input-placeholder {
  color: #999 !important;
}
.votes-notes-text[disabled]:-ms-input-placeholder,
.votes-contacts-list[disabled]:-ms-input-placeholder {
  color: #999 !important;
}
.votes-notes-text[disabled]::-ms-input-placeholder,
.votes-contacts-list[disabled]::-ms-input-placeholder {
  color: #999 !important;
}
.votes-notes-text[disabled]::placeholder,
.votes-contacts-list[disabled]::placeholder {
  color: #999 !important;
}

/* line 141, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-notes-text[required], .votes-notes-text.requiredField, .votes-notes-text.requiredField.error,
.votes-contacts-list[required],
.votes-contacts-list.requiredField,
.votes-contacts-list.requiredField.error {
  border-left: 4px solid #d0021b;
}

/* line 146, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-notes-text.error,
.votes-contacts-list.error {
  border: 2px solid #d0021b;
}

/* line 152, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.votes-notes-text::-ms-clear,
.votes-contacts-list::-ms-clear {
  display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 504, scss/ps/RBC-Voting.scss */
  .votes-notes-text,
  .votes-contacts-list {
    /* IE10+ CSS styles go here */
    line-height: 0;
  }
}

@media (max-width: 1200px) {
  /* line 518, scss/ps/RBC-Voting.scss */
  .votes-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* line 522, scss/ps/RBC-Voting.scss */
  .votes-left-column {
    border: none;
  }
}

/* line 528, scss/ps/RBC-Voting.scss */
.update-team-info-dialog {
  padding: 0;
  width: 640px !important;
}

/* line 534, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .ui-helper-clearfix:before {
  content: none;
}

/* line 539, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close,
.update-team-info-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:hover,
.update-team-info-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:active,
.update-team-info-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:focus {
  background-repeat: no-repeat !important;
  background-position: 0 !important;
}

/* line 548, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .ui-dialog-content {
  padding: 5px;
}

/* line 553, scss/ps/RBC-Voting.scss */
.update-team-info-dialog h3 {
  color: #484848;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
}

/* line 561, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .el-message {
  color: #484848;
  font-size: 0.8rem;
  margin-bottom: 8px;
}

/* line 568, scss/ps/RBC-Voting.scss */
.update-team-info-dialog textarea.vote-notes {
  min-height: 90px;
  padding: 4px 8px 4px 8px;
  resize: none;
  margin-bottom: 16px;
}

/* line 349, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog textarea.vote-notes:hover {
  border: 1px solid #8DA7C5;
}

/* line 354, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog textarea.vote-notes:focus, .update-team-info-dialog textarea.vote-notes:active {
  border: 1px solid #2776bd;
}

/* line 360, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog textarea.vote-notes[disabled] {
  border: 1px solid #D8D8D8;
  color: #999 !important;
  background: #fff !important;
}

/* line 367, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog textarea.vote-notes[required], .update-team-info-dialog textarea.vote-notes.requiredField, .update-team-info-dialog textarea.vote-notes.requiredField.error {
  border-left: 4px solid #d0021b;
}

/* line 374, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog textarea.vote-notes.error {
  border: 2px solid #d0021b;
}

/* line 526, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog textarea.vote-notes::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* line 527, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog textarea.vote-notes::-webkit-scrollbar-button {
  background-color: #ffffff;
  width: 10px;
}

/* line 528, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog textarea.vote-notes::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* line 529, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog textarea.vote-notes::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

/* line 530, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog textarea.vote-notes::-webkit-scrollbar-thumb {
  width: 6px;
  height: 20px;
  background-color: #ccc;
  border-radius: 3px;
}

/* line 532, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog textarea.vote-notes::-webkit-scrollbar-thumb:active {
  background-color: #ccc;
}

/* line 533, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog textarea.vote-notes::-webkit-scrollbar-corner {
  background-color: #ffffff;
}

/* line 534, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog textarea.vote-notes::-webkit-resizer {
  background-color: #ffffff;
}

/* line 575, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .search-wrapper {
  min-width: 192px;
  max-width: 384px;
  width: 100%;
  margin-right: 8px;
}

/* line 582, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .search-wrapper input {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: url("../images/png/icon-search--default.png") no-repeat center left 4px;
  padding: 2px 16px 2px 24px;
}

/* line 101, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .search-wrapper input:hover {
  border: 1px solid #8DA7C5;
  background: url("../images/png/icon-search--hover.png") no-repeat center left 4px;
  background-color: #fff;
}

/* line 114, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .search-wrapper input:focus, .update-team-info-dialog .search-wrapper input:active {
  border: 1px solid #2776bd;
  background: url("../images/png/icon-search--focus.png") no-repeat center left 4px;
  background-color: #fff;
}

/* line 125, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .search-wrapper input[disabled] {
  border: 1px solid #D8D8D8;
  color: #999 !important;
  background: url("../images/png/icon-search--disabled.png") no-repeat center left 4px;
}

/* line 134, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .search-wrapper input[disabled]::-webkit-input-placeholder {
  color: #999 !important;
}
.update-team-info-dialog .search-wrapper input[disabled]:-ms-input-placeholder {
  color: #999 !important;
}
.update-team-info-dialog .search-wrapper input[disabled]::-ms-input-placeholder {
  color: #999 !important;
}
.update-team-info-dialog .search-wrapper input[disabled]::placeholder {
  color: #999 !important;
}

/* line 141, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .search-wrapper input[required], .update-team-info-dialog .search-wrapper input.requiredField, .update-team-info-dialog .search-wrapper input.requiredField.error {
  border-left: 4px solid #d0021b;
}

/* line 146, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .search-wrapper input.error {
  border: 2px solid #d0021b;
}

/* line 152, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .search-wrapper input::-ms-clear {
  display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 582, scss/ps/RBC-Voting.scss */
  .update-team-info-dialog .search-wrapper input {
    /* IE10+ CSS styles go here */
    line-height: 0;
  }
}

/* line 587, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .la-input-underline {
  display: none;
}

/* line 592, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .dialog-footer {
  width: 100%;
  min-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  font-size: 0.8rem;
  -webkit-box-shadow: 0px -1px 6px -1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px -1px 6px -1px rgba(0, 0, 0, 0.4);
  z-index: 10;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 605, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .dialog-footer .confirmButton {
  height: 32px;
  padding: 4px 16px 4px 16px !important;
  font-size: 0.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 0.25px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  font-weight: 500 !important;
  color: #fff !important;
  background-color: #2776bd !important;
  border-color: transparent !important;
}

/* line 621, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .dialog-footer .confirmButton:hover {
  background-color: #4190d8 !important;
}

/* line 625, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .dialog-footer .confirmButton:active {
  background-color: #1f5c94 !important;
}

/* line 629, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .dialog-footer .confirmButton:disabled {
  background-color: #a9c9e5 !important;
}

/* line 634, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .dialog-footer .cancelButton {
  height: 32px;
  padding: 4px 16px 4px 16px !important;
  font-size: 0.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 0.25px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  font-weight: 500 !important;
  color: #2776bd !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

/* line 650, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .dialog-footer .cancelButton:hover {
  background-color: #C4D9ED !important;
}

/* line 654, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .dialog-footer .cancelButton:active {
  background-color: #9dc0e1 !important;
}

/* line 658, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .dialog-footer .cancelButton:disabled {
  background-color: #fff !important;
}

/* line 662, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .dialog-footer .cancelButton:focus {
  background-color: #9dc0e1 !important;
}

/* line 668, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid {
  border: 1px solid #b7bfc8;
  width: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 200px;
  overflow: auto !important;
}

/* line 526, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* line 527, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid::-webkit-scrollbar-button {
  background-color: #ffffff;
  width: 10px;
}

/* line 528, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* line 529, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

/* line 530, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid::-webkit-scrollbar-thumb {
  width: 6px;
  height: 20px;
  background-color: #ccc;
  border-radius: 3px;
}

/* line 532, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid::-webkit-scrollbar-thumb:active {
  background-color: #ccc;
}

/* line 533, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid::-webkit-scrollbar-corner {
  background-color: #ffffff;
}

/* line 534, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid::-webkit-resizer {
  background-color: #ffffff;
}

/* line 679, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .ui-state-default {
  color: #1B87c9;
  border: 1px solid #eeeeee;
  border-left: 0px;
  background: #eeeeee;
  background-image: none;
  font-weight: 500;
  cursor: pointer;
}

/* line 691, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .ui-state-default.slick-header-column {
  color: #484848;
  border: 1px solid #b7bfc8;
  border-top: 0px;
  border-left: 0px;
  background: #e2e2e2;
  background-image: none;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

/* line 704, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .ui-state-default.slick-header-column span.slick-sort-indicator.slick-sort-indicator-asc,
.update-team-info-dialog .aceDataGrid .ui-state-default.slick-header-column span.slick-sort-indicator.slick-sort-indicator-desc {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 719, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .ui-state-default.slick-header-column .slick-sort-indicator-desc {
  background-image: url("../images/png/icon-sort-down--default.png") !important;
}

/* line 724, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .ui-state-default.slick-header-column .slick-sort-indicator-asc {
  background-image: url("../images/png/icon-sort-up--default.png") !important;
}

/* line 729, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .ui-state-default.slick-header-column:hover {
  color: #484848;
  border: 1px solid #b7bfc8;
  border-left: 0px;
  border-top: 0px;
  background: #cdcdcd;
  font-weight: 500;
  cursor: pointer;
}

/* line 738, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .ui-state-default.slick-header-column:hover .slick-sort-indicator-desc {
  background-image: url("../images/png/icon-sort-down--focus.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 753, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .ui-state-default.slick-header-column:hover .slick-sort-indicator-asc {
  background-image: url("../images/png/icon-sort-up--focus.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 770, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .ui-state-default.slick-header-column:active {
  color: #ffffff;
  border: 1px solid #1B87c9;
  border-left: 0px;
  border-top: 0px;
  background: #1B87c9;
  font-weight: 500;
  cursor: pointer;
}

/* line 779, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .ui-state-default.slick-header-column:active .slick-sort-indicator-desc {
  background-image: url("../images/png/icon-sort-down--focus_FFF.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 794, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .ui-state-default.slick-header-column:active .slick-sort-indicator-asc {
  background-image: url("../images/png/icon-sort-up--focus_FFF.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 814, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .ui-state-default.slick-header.slick-header-left {
  border-bottom: none;
  border-top: none;
}

/* line 820, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-cell {
  font-size: 0.8rem;
  color: #484848;
  border: 1px solid transparent;
  border-right: 1px solid #B7BFC8;
  border-bottom: 1px solid #B7BFC8;
  background-color: #fff;
  line-height: 22px;
  position: absolute;
  z-index: 1;
  padding: 1px 2px 2px 2px;
  margin: 0;
  cursor: default;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}

/* line 851, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-cell [data-type="deleteButton"] {
  background: url("../images/png/icon-delete--default.png") no-repeat center center !important;
  display: inline-block;
  height: 22px;
  width: 100%;
  background-size: 16px 16px;
  font-size: 0;
  cursor: pointer;
}

/* line 865, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-row:hover .slick-cell {
  color: #484848;
  border: 1px solid transparent;
  border-right: 1px solid #B7BFC8;
  border-bottom: 1px solid #B7BFC8;
  background-color: #f2f2f2;
  display: block !important;
  background-size: 16px 16px !important;
}

/* line 877, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-row:hover .slick-cell [data-type="deleteButton"] {
  background: url("../images/png/icon-delete--default.png") no-repeat center center !important;
}

/* line 880, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-row:hover .slick-cell [data-type="deleteButton"]:hover, .update-team-info-dialog .aceDataGrid .slick-row:hover .slick-cell [data-type="deleteButton"]:focus, .update-team-info-dialog .aceDataGrid .slick-row:hover .slick-cell [data-type="deleteButton"]:active {
  background: url("../images/png/icon-delete--focus.png") no-repeat center center !important;
}

/* line 886, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-row:hover .slick-cell .control-indicator {
  border: 1px solid #2776bd;
}

/* line 893, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-row:hover .slick-cell.dataGridHoverCell:hover {
  background-color: #fff;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  color: #484848;
  cursor: pointer;
}

/* line 907, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-row.active [data-type="deleteButton"] {
  background: url("../images/png/icon-delete--default.png") no-repeat center center !important;
}

/* line 915, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-row:active .slick-cell,
.update-team-info-dialog .aceDataGrid .slick-cell.selected,
.update-team-info-dialog .aceDataGrid .slick-row:hover .selected {
  color: #484848;
  border: 1px solid #b7bfc8;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  background-color: #d4e4f2;
}

/* line 924, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-row:active .slick-cell [data-type="deleteButton"],
.update-team-info-dialog .aceDataGrid .slick-cell.selected [data-type="deleteButton"],
.update-team-info-dialog .aceDataGrid .slick-row:hover .selected [data-type="deleteButton"] {
  background: url("../images/png/icon-delete--default.png") no-repeat center center !important;
}

/* line 927, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-row:active .slick-cell [data-type="deleteButton"]:hover, .update-team-info-dialog .aceDataGrid .slick-row:active .slick-cell [data-type="deleteButton"]:focus, .update-team-info-dialog .aceDataGrid .slick-row:active .slick-cell [data-type="deleteButton"]:active,
.update-team-info-dialog .aceDataGrid .slick-cell.selected [data-type="deleteButton"]:hover,
.update-team-info-dialog .aceDataGrid .slick-cell.selected [data-type="deleteButton"]:focus,
.update-team-info-dialog .aceDataGrid .slick-cell.selected [data-type="deleteButton"]:active,
.update-team-info-dialog .aceDataGrid .slick-row:hover .selected [data-type="deleteButton"]:hover,
.update-team-info-dialog .aceDataGrid .slick-row:hover .selected [data-type="deleteButton"]:focus,
.update-team-info-dialog .aceDataGrid .slick-row:hover .selected [data-type="deleteButton"]:active {
  background: url("../images/png/icon-delete--focus.png") no-repeat center center !important;
}

/* line 934, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-row:active .slick-cell .control-indicator,
.update-team-info-dialog .aceDataGrid .slick-cell.selected .control-indicator,
.update-team-info-dialog .aceDataGrid .slick-row:hover .selected .control-indicator {
  border: 1px solid #2776bd;
}

/* line 940, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-row:active .slick-cell .editor-text,
.update-team-info-dialog .aceDataGrid .slick-cell.selected .editor-text,
.update-team-info-dialog .aceDataGrid .slick-row:hover .selected .editor-text {
  background-color: #fff !important;
  height: 20px !important;
}

/* line 950, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .menuButtonColumn .button-drop-down, .update-team-info-dialog .aceDataGrid .menuButtonColumn .menuButton {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: url("../images/png/icon-arrow_down--default.png");
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-color: #fff;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-left: 8px;
  text-align: left;
  cursor: pointer;
  line-height: 0;
  height: 20px;
  width: 100%;
  background-color: transparent;
}

/* line 186, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid .menuButtonColumn .button-drop-down:hover, .update-team-info-dialog .aceDataGrid .menuButtonColumn .menuButton:hover {
  border: 1px solid #8DA7C5;
  background-image: url("../images/png/icon-arrow_down--hover.png");
}

/* line 191, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid .menuButtonColumn .button-drop-down:focus, .update-team-info-dialog .aceDataGrid .menuButtonColumn .button-drop-down:active, .update-team-info-dialog .aceDataGrid .menuButtonColumn .menuButton:focus, .update-team-info-dialog .aceDataGrid .menuButtonColumn .menuButton:active {
  border: 1px solid #2776bd;
  background-image: url("../images/png/icon-arrow_down--focus.png");
}

/* line 196, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid .menuButtonColumn .button-drop-down[disabled], .update-team-info-dialog .aceDataGrid .menuButtonColumn .button-drop-down.disabled, .update-team-info-dialog .aceDataGrid .menuButtonColumn .menuButton[disabled], .update-team-info-dialog .aceDataGrid .menuButtonColumn .menuButton.disabled {
  border: 1px solid #D8D8D8;
  color: #999;
  background-image: url("../images/png/icon-arrow_down--disabled.png");
  cursor: auto;
}

/* line 204, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid .menuButtonColumn .button-drop-down[required], .update-team-info-dialog .aceDataGrid .menuButtonColumn .button-drop-down.requiredField, .update-team-info-dialog .aceDataGrid .menuButtonColumn .button-drop-down.requiredField, .update-team-info-dialog .aceDataGrid .menuButtonColumn .button-drop-down.required, .update-team-info-dialog .aceDataGrid .menuButtonColumn .menuButton[required], .update-team-info-dialog .aceDataGrid .menuButtonColumn .menuButton.requiredField, .update-team-info-dialog .aceDataGrid .menuButtonColumn .menuButton.requiredField, .update-team-info-dialog .aceDataGrid .menuButtonColumn .menuButton.required {
  border-left: 4px solid #d0021b;
}

/* line 209, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid .menuButtonColumn .button-drop-down.error, .update-team-info-dialog .aceDataGrid .menuButtonColumn .menuButton.error {
  border: 2px solid #d0021b;
}

/* line 958, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .menuButtonColumn .button-drop-down {
  line-height: 1.1;
  display: block;
}

/* line 966, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .menuButtonColumn.editable .menuButton:active, .update-team-info-dialog .aceDataGrid .menuButtonColumn.editable .menuButton:focus {
  border: 1px solid #2776bd !important;
}

/* line 977, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-row:hover .button-drop-down, .update-team-info-dialog .aceDataGrid .slick-row:hover .menuButton, .update-team-info-dialog .aceDataGrid .slick-row:active .button-drop-down, .update-team-info-dialog .aceDataGrid .slick-row:active .menuButton, .update-team-info-dialog .aceDataGrid .slick-cell.selected .button-drop-down, .update-team-info-dialog .aceDataGrid .slick-cell.selected .menuButton {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: url("../images/png/icon-arrow_down--default.png");
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-color: #fff;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-left: 8px;
  text-align: left;
  cursor: pointer;
  line-height: 0;
  height: 20px;
  width: 100%;
  background-color: transparent;
}

/* line 186, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid .slick-row:hover .button-drop-down:hover, .update-team-info-dialog .aceDataGrid .slick-row:hover .menuButton:hover, .update-team-info-dialog .aceDataGrid .slick-row:active .button-drop-down:hover, .update-team-info-dialog .aceDataGrid .slick-row:active .menuButton:hover, .update-team-info-dialog .aceDataGrid .slick-cell.selected .button-drop-down:hover, .update-team-info-dialog .aceDataGrid .slick-cell.selected .menuButton:hover {
  border: 1px solid #8DA7C5;
  background-image: url("../images/png/icon-arrow_down--hover.png");
}

/* line 191, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid .slick-row:hover .button-drop-down:focus, .update-team-info-dialog .aceDataGrid .slick-row:hover .button-drop-down:active, .update-team-info-dialog .aceDataGrid .slick-row:hover .menuButton:focus, .update-team-info-dialog .aceDataGrid .slick-row:hover .menuButton:active, .update-team-info-dialog .aceDataGrid .slick-row:active .button-drop-down:focus, .update-team-info-dialog .aceDataGrid .slick-row:active .button-drop-down:active, .update-team-info-dialog .aceDataGrid .slick-row:active .menuButton:focus, .update-team-info-dialog .aceDataGrid .slick-row:active .menuButton:active, .update-team-info-dialog .aceDataGrid .slick-cell.selected .button-drop-down:focus, .update-team-info-dialog .aceDataGrid .slick-cell.selected .button-drop-down:active, .update-team-info-dialog .aceDataGrid .slick-cell.selected .menuButton:focus, .update-team-info-dialog .aceDataGrid .slick-cell.selected .menuButton:active {
  border: 1px solid #2776bd;
  background-image: url("../images/png/icon-arrow_down--focus.png");
}

/* line 196, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid .slick-row:hover .button-drop-down[disabled], .update-team-info-dialog .aceDataGrid .slick-row:hover .button-drop-down.disabled, .update-team-info-dialog .aceDataGrid .slick-row:hover .menuButton[disabled], .update-team-info-dialog .aceDataGrid .slick-row:hover .menuButton.disabled, .update-team-info-dialog .aceDataGrid .slick-row:active .button-drop-down[disabled], .update-team-info-dialog .aceDataGrid .slick-row:active .button-drop-down.disabled, .update-team-info-dialog .aceDataGrid .slick-row:active .menuButton[disabled], .update-team-info-dialog .aceDataGrid .slick-row:active .menuButton.disabled, .update-team-info-dialog .aceDataGrid .slick-cell.selected .button-drop-down[disabled], .update-team-info-dialog .aceDataGrid .slick-cell.selected .button-drop-down.disabled, .update-team-info-dialog .aceDataGrid .slick-cell.selected .menuButton[disabled], .update-team-info-dialog .aceDataGrid .slick-cell.selected .menuButton.disabled {
  border: 1px solid #D8D8D8;
  color: #999;
  background-image: url("../images/png/icon-arrow_down--disabled.png");
  cursor: auto;
}

/* line 204, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid .slick-row:hover .button-drop-down[required], .update-team-info-dialog .aceDataGrid .slick-row:hover .button-drop-down.requiredField, .update-team-info-dialog .aceDataGrid .slick-row:hover .button-drop-down.requiredField, .update-team-info-dialog .aceDataGrid .slick-row:hover .button-drop-down.required, .update-team-info-dialog .aceDataGrid .slick-row:hover .menuButton[required], .update-team-info-dialog .aceDataGrid .slick-row:hover .menuButton.requiredField, .update-team-info-dialog .aceDataGrid .slick-row:hover .menuButton.requiredField, .update-team-info-dialog .aceDataGrid .slick-row:hover .menuButton.required, .update-team-info-dialog .aceDataGrid .slick-row:active .button-drop-down[required], .update-team-info-dialog .aceDataGrid .slick-row:active .button-drop-down.requiredField, .update-team-info-dialog .aceDataGrid .slick-row:active .button-drop-down.requiredField, .update-team-info-dialog .aceDataGrid .slick-row:active .button-drop-down.required, .update-team-info-dialog .aceDataGrid .slick-row:active .menuButton[required], .update-team-info-dialog .aceDataGrid .slick-row:active .menuButton.requiredField, .update-team-info-dialog .aceDataGrid .slick-row:active .menuButton.requiredField, .update-team-info-dialog .aceDataGrid .slick-row:active .menuButton.required, .update-team-info-dialog .aceDataGrid .slick-cell.selected .button-drop-down[required], .update-team-info-dialog .aceDataGrid .slick-cell.selected .button-drop-down.requiredField, .update-team-info-dialog .aceDataGrid .slick-cell.selected .button-drop-down.requiredField, .update-team-info-dialog .aceDataGrid .slick-cell.selected .button-drop-down.required, .update-team-info-dialog .aceDataGrid .slick-cell.selected .menuButton[required], .update-team-info-dialog .aceDataGrid .slick-cell.selected .menuButton.requiredField, .update-team-info-dialog .aceDataGrid .slick-cell.selected .menuButton.requiredField, .update-team-info-dialog .aceDataGrid .slick-cell.selected .menuButton.required {
  border-left: 4px solid #d0021b;
}

/* line 209, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.update-team-info-dialog .aceDataGrid .slick-row:hover .button-drop-down.error, .update-team-info-dialog .aceDataGrid .slick-row:hover .menuButton.error, .update-team-info-dialog .aceDataGrid .slick-row:active .button-drop-down.error, .update-team-info-dialog .aceDataGrid .slick-row:active .menuButton.error, .update-team-info-dialog .aceDataGrid .slick-cell.selected .button-drop-down.error, .update-team-info-dialog .aceDataGrid .slick-cell.selected .menuButton.error {
  border: 2px solid #d0021b;
}

/* line 985, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-row:hover .button-drop-down, .update-team-info-dialog .aceDataGrid .slick-row:active .button-drop-down, .update-team-info-dialog .aceDataGrid .slick-cell.selected .button-drop-down {
  line-height: 1.1;
  display: block;
  background-position: center right 4px !important;
}

/* line 992, scss/ps/RBC-Voting.scss */
.update-team-info-dialog .aceDataGrid .slick-row:hover .menuButton, .update-team-info-dialog .aceDataGrid .slick-row:active .menuButton, .update-team-info-dialog .aceDataGrid .slick-cell.selected .menuButton {
  border: 1px solid #B7BFC8 !important;
}

.apply-no-vote-checkbox {
  height: 15px !important;
  width: 15px !important;
  margin-top: 0px !important;
}

.apply-no-vote-flex-parent {
  display: flex;
  flex-direction: row;
  padding-bottom:8px;
}

.text-input-left-padding {
  padding-left: 8px !important;
}